<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>HASIL BELI</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h3>Pembelian Sayur</h3>
        <hr>
        
        <p> Nama Sayur : <td th:text="${namaSayur}"><br>
        <p> Harga Perkilo : Rp <td th:text="${hargaperkilo}"><br>
        <p> Jumlah Beli : <td th:text="${totalSayur}"><br>
        <p> Harga : Rp <td th:text="${harga}"><br>
        <p> Diskon : <td th:text="${diskon}"><br>
        <p> Jumlah Diskon : <td th:text="${Diskonyangdidapat}"><br>
        <p> Total Bayar : Rp <td th:text="${ttl}"><br></td>
        <p> Kembalian : Rp <td th:text="${kmbln}"><br></td>
        
    </body>
</html>